# Trainer hyperparameters, for Trainer and lit_module
$vars:
    total_steps: 200000

seed: 42
train_steps: $total_steps
val_interval: 1000
sample_interval: 20000
max_log_examples: 8
overfit_batches: 0
wandb_project: "stream-music-gen"
log_every_n_steps: 1
limit_val_batches: 128
checkpoint_interval: 5000
checkpoint_metric: "val/loss"
checkpoint_mode: "min"
checkpoint_top_k: -1 # save all checkpoints
load_from_latest_checkpoint: true
accelerator: "auto"
devices: "auto"
num_nodes: 1
precision: "bf16-mixed"
strategy: "auto"
compile: true


# Data hyperparameters, for get_dataloader
batch_size: 24
num_workers: 8
data_base_dir: "stream_music_gen_data/precompute_audio_mixdown_20s"
max_duration: 10 # seconds of audio to train
dataset_names:
  - "slakh2100"
weights:
  - 1

# Optimizer hyperparameters
AdamW.lr: !!float 1e-4

# Scheduler hyperparameters
LinearWarmupCosineDecay.warmup_iters: 10000
LinearWarmupCosineDecay.total_iters: $total_steps
LinearWarmupCosineDecay.eta_min: !!float 1e-5

# Model hyperparameters
StemGen.dim: 1024
StemGen.depth: 16
StemGen.heads: 16
StemGen.attn_dropout: 0.0
StemGen.ff_dropout: 0.1

generate_kwargs:
  sample_temperature: 1.0
  noise_temperature: [8.0, 8.0, 4.0, 4.0]
  use_temperature_annealing: true
